
.row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}
button {
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    transition: all .3s;
    color: #343a40;
    font-weight: 500;

}
button > i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

button:hover > i {
    font-size: 1.2em;
    transform: translateX(-5px);
}

button:hover {
    box-shadow: 1px 1px 10px #d1d1d1, -1px -1px 10px #ffffff;
    transform: translateY(-2px);
}
